html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.test {
    width: 50vw;
    height: 50vh;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    width: 30%;
}

.grid-item {
    width: var(--item-width);
    height: var(--item-height);
    border: 1px solid green;
    box-sizing: border-box;
}